.newsletter {
   background-color: #1b71bb;
   width: 410px;
   padding: 15px;
}
.newsletter__img img {
   width: 370px;
}
.newsletter-form {
   display: flex;
   margin-bottom: 20px;
}
.note {
   margin: 0 auto;
   background-color: #0687bd;
   width: 300px;
   padding: 10px;
   border-radius: 10px;
}
